.title {
  color: #00c896;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
}

.chartWrapper {
  width: 100%;
  padding: 10px 0px;
}

.chartWrapper > div {
  height: 350px !important;
}

.basicButton {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  width: 100%;
  padding: 16px 8px;
  border-radius: 8px;
  background-color: #fff;

  font-size: 18px;
}

.basicButton:hover {
  opacity: 0.7;
}

.flexColumnWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.wrongCard {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5px;

  width: 100%;
  padding: 16px 8px;
  background-color: #fff;
}

.wrongCard p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

.answer {
  font-size: 14px;
}

.correctAnswer {
  color: #00c896;
}

.wrongAnswer {
  color: tomato;
}
